.idea
*.iml
**.orig
**/.classpath
**/.DS_Store
**/.gradle
**/.idea
**/.project
**/.settings
**/*.iml
**/*.imlt
**/*TempHarness.java
**/build
**/coverage-report
**/derby.log
**/docdb-entities.dtd
**/HBRISTORE
**/target
**/test-output/**
java_generated
**/*java.orig
**/*.jar
